body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  height: 100vh;           /* full viewport height */
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
}